*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:hover,
a::before,
a::after,
a:hover::before,
a:hover::after {
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: MediumSpringGreen;
}

::-webkit-scrollbar-thumb {
  background: MediumSeaGreen;
}

::-webkit-scrollbar-thumb:hover {
  background: SeaGreen;
}

body,
html {
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 12pt;
  font-weight: 400;
  color: black;
}

.dashboard-river {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dashboard-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 90%;
  background: rgb(40, 40, 61);
  box-shadow: 0 20px 40px 0 SeaGreen, inset 0px -10px 17px 1px MediumSeaGreen;
  overflow: hidden;
  border-radius: 25px;
  /* z-index: 9; */
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 35px 30px 25px 30px;
}

.logo-comp {
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  transition: all 0.4s ease-in-out;
}

.logo-comp:hover {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.logo-comp > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: MediumSpringGreen;
  box-shadow: 0 5px 15px 0 SeaGreen, inset 0px -6px 12px 0px SeaGreen;
  transition: all 0.4s ease-in-out;
}

.svgg {
  fill: black;
  width: 90%;
  height: 90%;
  filter: drop-shadow(1px 1px 0px SeaGreen);
  transition: all 0.4s ease-in-out;
}

.logo-comp p {
  letter-spacing: 3px;
  font-size: 16pt;
  margin: 0;
  margin-left: 12px;
  padding: 0;
  color: SeaGreen;
  transition: all 0.4s ease-in-out;
}

.logo-comp:hover > p {
  color: black;
  transition: all 0.4s ease-in-out;
}

.logo-comp:hover > div > svg {
  fill: black;
  filter: unset;
  transition: all 0.4s ease-in-out;
}

.search {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}

.search input {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0 10px 20px 0 #3cb37177, inset 0px -4px 8px 0 SeaGreen;
  border: none !important;
  padding: 0px 20px 5px 20px;
}

.search > svg {
  position: absolute;
  right: 20px;
  bottom: 38%;
  width: 18px;
  height: auto;
  fill: SeaGreen;
}

.search input:focus {
  outline: 1px solid MediumSpringGreen;
}

.ui-row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 10px 30px;
  /* background-color: #00ff7f; */
}

.left-sidebar {
  position: sticky;
  top: 430px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  background: #eee;
  padding: 15px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.left-sidebar > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: MediumSpringGreen;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 7px 14px 0 #3cb37199, inset 0px -5px 7px 0px MediumSeaGreen;
}

.left-sidebar > div:last-of-type {
  margin-bottom: unset;
}

.left-sidebar > div:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 16px 0 #3cb371dd, inset 0px -5px 9px 0px MediumSeaGreen;
  border: 1px solid MediumSpringGreen;
}

.left-sidebar .icon-2 {
  fill: rgb(11, 13, 12);
  width: 25px;
  height: auto;
}

.left-sidebar > div:active {
  transform: scale(0.92);
}

.left-sidebar > div:hover > svg {
  fill: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.page-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
}

.page-display h1 {
  position: relative;
  font-size: 30pt;
  color: white;
  font-weight: 800;
  padding: 0;
  margin: 0;
  line-height: 30pt;
}

.page-display h1::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 35px;
  /* background: SpringGreen; */
  content: "";
  z-index: -1;
}

.page-display h2 {
  font-size: 16pt;
  color: white;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.page-display:hover,
.page-display h1:hover,
.page-display h2:hover {
  cursor: default;
}

.large-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 200px;
  background: url("../../Assets/mainimage/real.jpg");
  background-size: 100%;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.large-banner:hover {
  background-size: 120%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.large-banner h2 {
  color: white;
  font-size: 30pt;
  margin: 0;
  padding: 0;
  line-height: 30pt;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0px SeaGreen, 2px 2px 0px SeaGreen;
}

.large-banner a {
  position: relative;
  background: white;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 20px;
  color: dimgray;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px 0 #000000bb, inset 0px -5px 10px 1px SeaGreen;
}

.large-banner a::after {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: MediumSpringGreen;
  border-radius: 12px;
  box-shadow: 0 10px 20px 0 #000000bb, inset 0px -5px 10px 1px SeaGreen;
  opacity: 0;
  z-index: -1;
}

.large-banner a:hover {
  transform: translateY(5px);
  color: black;
}

.large-banner a:hover::after {
  top: 0;
  opacity: 1;
}

.large-banner a:active {
  transform: scale(0.92);
}

.large-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, SpringGreen, SeaGreen);
  content: "";
  border-radius: 20px;
  mix-blend-mode: soft-light;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
  transition: all 0.5s ease-in-out;
}

.large-banner::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00ff7f;
  background-image: url("https://www.transparenttextures.com/patterns/buried.png");
  content: "";
  border-radius: 20px;
  mix-blend-mode: soft-light;
  z-index: -2;
  transition: all 0.5s ease-in-out;
}

.featured-clay {
  width: 100%;
  height: 100vh;
  margin-bottom: 35px;
  z-index: 2;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes glow15 {
  0% {
    filter: hue-rotate(15deg);
  }
  100% {
    filter: hue-rotate(375deg);
  }
}

@keyframes glow30 {
  0% {
    filter: hue-rotate(30deg);
  }
  100% {
    filter: hue-rotate(390deg);
  }
}

@keyframes glow45 {
  0% {
    filter: hue-rotate(45deg);
  }
  100% {
    filter: hue-rotate(405deg);
  }
}

@keyframes glow60 {
  0% {
    filter: hue-rotate(60deg);
  }
  100% {
    filter: hue-rotate(420deg);
  }
}

@keyframes glow75 {
  0% {
    filter: hue-rotate(75deg);
  }
  100% {
    filter: hue-rotate(435deg);
  }
}

@media (max-width: 1870px) {
  .featured-users > div > div:nth-child(2)::after {
    right: 20%;
  }
}

@media (max-width: 1720px) {
  .featured-users > div > div:nth-child(2)::after {
    right: 10%;
  }
  .featured-clay > div {
    /* padding: 40px 20px; */
  }
  .featured-clay > div > div:nth-child(2) > h3 {
    line-height: 20pt;
  }
}

@media (max-width: 1590px) {
  .featured-users > div > div:nth-child(2)::after {
    right: 0;
  }
}

@media (max-width: 1500px) {
  .clay-category {
    width: 24%;
  }
  .featured-users > div:nth-child(3) > div:nth-child(2)::after,
  .featured-users > div:nth-child(4) > div:nth-child(2)::after {
    display: none;
  }
}

@media (max-width: 1363px) {
  .ui-row-2 {
    flex-direction: column;
  }
  .main-content {
    margin-left: 0 !important;
  }
  .left-sidebar {
    width: 100%;
    /* z-index: 9; */
    flex-direction: row;
    border-radius: 0px 0px 20px 20px;
    justify-content: space-evenly;
    top: 0px;
    padding: 20px 0px;
    box-shadow: 0 10px 20px 0 #2e8b57aa, inset 0px -7px 9px 0px SeaGreen;
    border: 1px solid MediumSpringGreen;
  }
  .left-sidebar > div,
  .left-sidebar > div:last-of-type {
    margin-bottom: 8px;
  }
}

@media (max-width: 1250px) {
  .featured-users {
    flex-wrap: wrap;
  }
  .featured-users::after {
    display: none;
  }
  .featured-users > div::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background: MediumSpringGreen;
    content: "";
    z-index: -1;
  }
  .featured-users h2 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .featured-users > h2 > br {
    display: none;
  }
  .featured-users > h2 > span {
    all: unset;
    font-weight: 600;
    margin-left: 8px;
  }
  .featured-users > div {
    margin: unset;
  }
}

@media (max-width: 1200px) {
  .featured-users > div {
    width: 33%;
    padding-left: 15px;
  }
  .featured-users > div > div:nth-child(2)::after {
    right: 3%;
  }
}

@media (max-width: 1100px) {
  .clay-category p {
    font-size: 12pt;
  }
  .featured-clay > div {
    width: 49%;
  }
  .featured-users > div {
    width: 90%;
    margin-bottom: 40px;
  }
  .featured-users > div:nth-child(4) {
    margin-bottom: unset;
  }
  .featured-users > div > div:nth-child(2)::after {
    left: 25%;
  }
  .featured-users > div:nth-child(3) > div:nth-child(2)::after,
  .featured-users > div:nth-child(4) > div:nth-child(2)::after {
    display: flex;
  }
  .featured-users {
    overflow: hidden;
    padding-bottom: 30px;
    border-radius: 0 0 20px 20px;
  }
  .featured-users > div::after {
    display: none;
  }
  .featured-users::after {
    display: initial;
    bottom: -40%;
    right: -20%;
    width: 750px;
    height: 750px;
    border-radius: 750px;
  }
}

@media (max-width: 992px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .dashboard-container {
    height: 95%;
  }
  .ui-row-2 {
    padding-top: 0px;
  }
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page-display {
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .page-display h1,
  .page-display h2 {
    text-align: center;
  }
  .clay-category {
    width: 100%;
    margin-bottom: 30px;
  }
  .clay-category:nth-child(3) {
    margin-bottom: 10px;
  }
  .clay-category p {
    font-size: 16pt;
  }
  .profile {
    display: none;
  }
  .profile-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }
  .profile-small svg {
    width: 30px;
    margin-right: 30px;
    height: auto;
    fill: dimgray;
  }
  .search {
    display: none;
  }
}

@media (max-width: 970px) {
  .featured-users > div > div:nth-child(2)::after {
    left: 32%;
  }
}

@media (max-width: 800px) {
  .featured-users > div > div:nth-child(2)::after {
    left: 40%;
  }
}

@media (max-width: 760px) {
  .featured-clay {
    justify-content: center;
  }
  .featured-clay > div {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .large-banner h2 {
    text-align: center;
    padding: 0 10px;
    font-size: 24pt;
  }
  .large-banner {
    background-size: cover;
  }
  .large-banner:hover {
    background-size: cover;
  }
}

@media (max-width: 660px) {
  .featured-users > div > div:nth-child(2)::after {
    left: unset;
    right: 5%;
  }
}

@media (max-width: 500px) {
  .featured-users > h2 > br {
    display: initial;
  }
}

@media (max-width: 475px) {
  .left-sidebar > div {
    width: 35px;
    height: 35px;
  }
  .svgg {
    width: 20px;
  }
  .ui-row-1 {
    padding: 30px 20px 20px 20px;
  }
  .profile-small svg {
    margin-right: 15px;
  }
}

@media (max-width: 460px) {
  .featured-users > div {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .ui-row-1,
  .ui-row-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .clay-category,
  .large-banner {
    width: 90%;
  }
  .large-banner a {
    padding: 7px 12px;
  }
}

@media (max-width: 410px) {
  .ui-row-1 {
    padding: 30px 10px 20px 10px;
  }
  .profile-small svg {
    width: 20px;
    margin-right: 10px;
  }
  .logo-comp p {
    letter-spacing: 1px;
    margin-left: 7px;
  }
}

@media (max-width: 390px) {
  .featured-users > div > div:nth-child(1) > div:nth-child(2) > h3 {
    font-size: 12pt;
  }
}

@media (max-width: 375px) {
  .featured-users > div > div:nth-child(2)::after {
    right: unset;
    bottom: -40px;
    left: 0;
  }
  .featured-users > div {
    margin-bottom: 75px;
  }
  .featured-users > div:nth-child(4) {
    margin-bottom: 50px;
  }
}

@media (max-width: 335px) {
  .profile-small svg {
    width: 20px;
    margin-right: 5px;
  }
}
/* dash board */
